html
	head
		title stt
		meta(charset="UTF-8")
	body
		p Redigera Undertexter
		textarea(rows='25' cols='80')
			| #{text}
		hr
		
		a(href = "save.html")
			button
				| Spara
		br
		a(href = "result.html")
			button
				| Tillbaka
		br
