html
	head
		title stt
		
	body 
		form(action="wait.html" method="post" enctype="multipart/form-data")
			br
			input(type="text" name="lang" value="sv" list="langName")
			datalist(id="langName")
				option(value="sv") sv
				option(value="en") en
			br
			input(type="file" name="filename")
			br
			input(type="submit" value="Ok")
			br
