html
	head
		title stt
		meta(charset="UTF-8")
		link(href="stt.css", rel="stylesheet", type="text/css")
	body
		video(src = "test.mp4", id = "video",  controls autoplay)
			track(kind = "subtitles", src = "test.vtt", srclang="sv", label="Swe", default)
		script
			| video = document.getElementById("video");
			| var tracks = video.textTracks[0];
			| tracks.mode = 'showing';

